<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>회원 관리</h1>

<button onclick="location.href='boardread'">돌아가기</button>
<table border="1">
    <tr>
        <td width="30" align="center">id</td>
        <td width="100" align="center">아이디</td>
        <td width="600" align="center">비밀번호</td>
        <td width="100" align="center">이름</td>
        <td width="300" align="center">가입일자</td>
        <td width="50" align="center">삭제</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.created_at}"></td>
        <td> <a th:href="@{/board/UserDelete/{id}(id=${user.id})}" onclick="return confirm('정말 삭제할까요?')">삭제</a></td>
    </tr>
</table>

<div style="display: flex; justify-content: center; margin-top: 20px;">
    <div>
        <a th:each="page : ${pageNumbers}"
           th:href="@{${keyword != null ? '/user/search' : '/board/UserList'}(keyword=${keyword}, page=${page})}"
           style="margin: 0 5px; text-decoration: none; font-size: 16px; color: blue;">
            <button type="button" style="padding: 5px 10px;">
                <span th:text="${page}"></span>
            </button>
        </a>
    </div>
</div>

</body>
</html>